<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>people</key>
        <array>
            <dict>
                <key>latitude</key>
                <real>37.80854246185203</real>
                <key>longitude</key>
                <real>-122.4135488953549</real>
                <key>number</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80850819261321</real>
                <key>longitude</key>
                <real>-122.4141778369151</real>
                <key>number</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80829400951028</real>
                <key>longitude</key>
                <real>-122.4152730627355</real>
                <key>number</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80825402868275</real>
                <key>longitude</key>
                <real>-122.4160176717642</real>
                <key>number</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80647698772542</real>
                <key>longitude</key>
                <real>-122.4137676274485</real>
                <key>number</key>
                <integer>4</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80634445469274</real>
                <key>longitude</key>
                <real>-122.4137099651116</real>
                <key>number</key>
                <integer>5</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80626024082922</real>
                <key>longitude</key>
                <real>-122.4136820075615</real>
                <key>number</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80615255744225</real>
                <key>longitude</key>
                <real>-122.4136400713165</real>
                <key>number</key>
                <integer>7</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8068837827166</real>
                <key>longitude</key>
                <real>-122.4121661951538</real>
                <key>number</key>
                <integer>8</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80668688680148</real>
                <key>longitude</key>
                <real>-122.4120873938083</real>
                <key>number</key>
                <integer>9</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80685265297259</real>
                <key>longitude</key>
                <real>-122.4120923188642</real>
                <key>number</key>
                <integer>10</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80615948253202</real>
                <key>longitude</key>
                <real>-122.4170286340418</real>
                <key>number</key>
                <integer>11</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8062178578145</real>
                <key>longitude</key>
                <real>-122.4168004613514</real>
                <key>number</key>
                <integer>12</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80624532854515</real>
                <key>longitude</key>
                <real>-122.4164984042039</real>
                <key>number</key>
                <integer>13</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80623760240685</real>
                <key>longitude</key>
                <real>-122.4166494327776</real>
                <key>number</key>
                <integer>14</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80619983015057</real>
                <key>longitude</key>
                <real>-122.4168982496473</real>
                <key>number</key>
                <integer>15</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80609252256232</real>
                <key>longitude</key>
                <real>-122.4168797785579</real>
                <key>number</key>
                <integer>16</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80613287021743</real>
                <key>longitude</key>
                <real>-122.4167124518851</real>
                <key>number</key>
                <integer>17</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80627052229003</real>
                <key>longitude</key>
                <real>-122.4153672191353</real>
                <key>number</key>
                <integer>18</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80616785295731</real>
                <key>longitude</key>
                <real>-122.4153425053765</real>
                <key>number</key>
                <integer>19</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8060928979888</real>
                <key>longitude</key>
                <real>-122.4153193860301</real>
                <key>number</key>
                <integer>20</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80602361178843</real>
                <key>longitude</key>
                <real>-122.4153034416861</real>
                <key>number</key>
                <integer>21</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80594865664469</real>
                <key>longitude</key>
                <real>-122.415284308444</real>
                <key>number</key>
                <integer>22</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80540988172141</real>
                <key>longitude</key>
                <real>-122.4135836704417</real>
                <key>number</key>
                <integer>23</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80416946948902</real>
                <key>longitude</key>
                <real>-122.4132381139256</real>
                <key>number</key>
                <integer>24</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80396705786111</real>
                <key>longitude</key>
                <real>-122.4149213154167</real>
                <key>number</key>
                <integer>25</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80522432679651</real>
                <key>longitude</key>
                <real>-122.415147420265</real>
                <key>number</key>
                <integer>26</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80448614737674</real>
                <key>longitude</key>
                <real>-122.4150109041431</real>
                <key>number</key>
                <integer>27</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80470187183157</real>
                <key>longitude</key>
                <real>-122.4134558998208</real>
                <key>number</key>
                <integer>28</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80310850622715</real>
                <key>longitude</key>
                <real>-122.4113553868039</real>
                <key>number</key>
                <integer>29</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80354670393616</real>
                <key>longitude</key>
                <real>-122.4114535077574</real>
                <key>number</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80396298945187</real>
                <key>longitude</key>
                <real>-122.4115132336401</real>
                <key>number</key>
                <integer>31</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80484931569606</real>
                <key>longitude</key>
                <real>-122.4116688407256</real>
                <key>number</key>
                <integer>32</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80507178040946</real>
                <key>longitude</key>
                <real>-122.4105617800352</real>
                <key>number</key>
                <integer>33</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80500099625516</real>
                <key>longitude</key>
                <real>-122.4107857518512</real>
                <key>number</key>
                <integer>34</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80503866359715</real>
                <key>longitude</key>
                <real>-122.4101089303214</real>
                <key>number</key>
                <integer>35</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80482926013214</real>
                <key>longitude</key>
                <real>-122.4118889730247</real>
                <key>number</key>
                <integer>36</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80738501500642</real>
                <key>longitude</key>
                <real>-122.4140498088069</real>
                <key>number</key>
                <integer>37</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80742930771299</real>
                <key>longitude</key>
                <real>-122.4138104697271</real>
                <key>number</key>
                <integer>38</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80765928891682</real>
                <key>longitude</key>
                <real>-122.4138816245887</real>
                <key>number</key>
                <integer>39</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80765417823118</real>
                <key>longitude</key>
                <real>-122.4140994016221</real>
                <key>number</key>
                <integer>40</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80714719651007</real>
                <key>longitude</key>
                <real>-122.4154503736655</real>
                <key>number</key>
                <integer>41</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80716082504589</real>
                <key>longitude</key>
                <real>-122.4157349931117</real>
                <key>number</key>
                <integer>42</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80741976776245</real>
                <key>longitude</key>
                <real>-122.4157608676068</real>
                <key>number</key>
                <integer>43</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8073925107059</real>
                <key>longitude</key>
                <real>-122.4155474030221</real>
                <key>number</key>
                <integer>44</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80698680487827</real>
                <key>longitude</key>
                <real>-122.4137866436295</real>
                <key>number</key>
                <integer>45</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80754811904632</real>
                <key>longitude</key>
                <real>-122.4121955702496</real>
                <key>number</key>
                <integer>46</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80776617499161</real>
                <key>longitude</key>
                <real>-122.4122300695436</real>
                <key>number</key>
                <integer>47</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80754811904632</real>
                <key>longitude</key>
                <real>-122.4124392216795</real>
                <key>number</key>
                <integer>48</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80255467268104</real>
                <key>longitude</key>
                <real>-122.4145726992799</real>
                <key>number</key>
                <integer>49</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80250024146135</real>
                <key>longitude</key>
                <real>-122.4148288805014</real>
                <key>number</key>
                <integer>50</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80323890432713</real>
                <key>longitude</key>
                <real>-122.4164340302207</real>
                <key>number</key>
                <integer>51</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80106817831776</real>
                <key>longitude</key>
                <real>-122.4125470891171</real>
                <key>number</key>
                <integer>52</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80082663475444</real>
                <key>longitude</key>
                <real>-122.4128312565954</real>
                <key>number</key>
                <integer>53</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8008692574689</real>
                <key>longitude</key>
                <real>-122.4142096060511</real>
                <key>number</key>
                <integer>54</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8069033348129</real>
                <key>longitude</key>
                <real>-122.4103387681722</real>
                <key>number</key>
                <integer>55</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80705914044295</real>
                <key>longitude</key>
                <real>-122.4106876644036</real>
                <key>number</key>
                <integer>56</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80729409530431</real>
                <key>longitude</key>
                <real>-122.414826821841</real>
                <key>number</key>
                <integer>57</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80735409019438</real>
                <key>longitude</key>
                <real>-122.414609489079</real>
                <key>number</key>
                <integer>58</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80745028882104</real>
                <key>longitude</key>
                <real>-122.4148687173371</real>
                <key>number</key>
                <integer>59</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.8074782174311</real>
                <key>longitude</key>
                <real>-122.414686733823</real>
                <key>number</key>
                <integer>60</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80617220559143</real>
                <key>longitude</key>
                <real>-122.4137970920586</real>
                <key>number</key>
                <integer>61</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80635184202858</real>
                <key>longitude</key>
                <real>-122.4138384307155</real>
                <key>number</key>
                <integer>62</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80627952093059</real>
                <key>longitude</key>
                <real>-122.4138251432937</real>
                <key>number</key>
                <integer>63</integer>
            </dict>
            <dict>
                <key>latitude</key>
                <real>37.80645624092973</real>
                <key>longitude</key>
                <real>-122.413849503567</real>
                <key>number</key>
                <integer>64</integer>
            </dict>
        </array>
        <key>centerLatitude</key>
        <real>37.8050315413548</real>
        <key>centerLongitude</key>
        <real>-122.413632917219</real>
        <key>latitudeDelta</key>
        <real>0.00978871051851371</real>
        <key>longitudeDelta</key>
        <real>0.008167393319212121</real>
    </dict>
    </plist>

